{#
/**
 * @file
 * Theme override for a view template to display an card of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this accordion.
 *   - attributes: The row's attributes.
 *   - header: The row's card header.
 *   - footer: The row's card footer.
 *   - badge: The row's card header badge.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - position_class: Media display position class
 * - media: Judge whether it is media or not
 * - position: Media display position
 *
 * @see template_preprocess_uikit_view_accordion()
 */
#}

{% set items_class = [
  animation_toggle ? 'uk-animation-toggle',
  center ? 'uk-width-3-4',
] %}

{% if title %}
  <h3 class="uk-heading-bullet">{{ title }}</h3>
{% endif %}

<div{{ attributes }}>
  {% for row in rows %}
    <div class="{{ items_class|join(' ')|trim }}">
      <div{{ row.attributes }}>
        {% if media %}
          {% if position == 'top' or position == 'bottom' %}
            {% if position == 'top' %}
              <div class="uk-card-media-top">
                {{ row.header }}
              </div>
            {% endif %}
            <div class="uk-card-body">
              {{- row.content -}}
            </div>
            {% if position == 'bottom' %}
              <div class="uk-card-media-bottom">
                {{ row.header }}
              </div>
            {% endif %}
          {% else %}
            <div class="{{ position_class }} uk-cover-container">
              {{ row.header }}
            </div>
            <div>
              <div class="uk-card-body">
                {{- row.content -}}
              </div>
            </div>
          {% endif %}

        {% else %}
          {% if row.header %}
            <div class="uk-card-header">
              <h3 class="uk-card-title">{{ row.header }}</h3>
            </div>
          {% endif %}
          <div class="uk-card-body">
            {% if row.badge %}
              <div class="uk-card-badge uk-label">{{ row.badge }}</div>
            {% endif %}
            {{- row.content -}}
          </div>
          {% if row.footer %}
            <div class="uk-card-footer">{{ row.footer }}</div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
