{#
/**
 * @file
 * Theme override for a view template to display an slider of rows.
 *
 * Available variables:
 * - slider_attributes: HTML attributes for the container.
 * - rows: A list of rows for this accordion.
 *   - title: The row's title.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - navigation: Navigation display position
 * - dotnav：Display dotnav
 * @see template_preprocess_uikit_view_slider()
 */
#}

{% set items_class = [
  'uk-position-relative',
  'uk-visible-toggle',
  inverse ? inverse,
] %}

{% if title %}
  <h3 class="uk-heading-bullet">{{ title }}</h3>
{% endif %}

<div{{ slider_attributes }}>
  <div class="{{ items_class|join(' ')|trim }}">
    {% if navigation == 'outside' %}
      <div class="uk-slider-container">
    {% endif %}

    {% include 'uikit-view-card.html.twig' %}

    {% if navigation == 'outside' %}
      </div>
    {% endif %}

    {% if navigation %}
      {% if navigation == 'outside' %}
        {% set nav_class = '-out' %}
      {% endif %}
      <a class="uk-position-center-left{{ nav_class }} uk-slidenav-large" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
      <a class="uk-position-center-right{{ nav_class }} uk-slidenav-large" href="#" uk-slidenav-next uk-slider-item="next"></a>
    {% endif %}
  </div>
  {% if dotnav %}
    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin uk-margin-remove-top"></ul>
  {% endif %}
</div>
