{#
/**
 * @file
 * Theme override for a view template to display an accordion of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this accordion.
 *   - attributes: The row's attributes.
 *   - title: The row's title.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 *
 * @see template_preprocess_uikit_view_accordion()
 */
#}

{% if title %}
  <h3 class="uk-heading-bullet">{{ title }}</h3>
{% endif %}

<ul{{ attributes }}>
  {% for row in rows %}
    <li{{ row.attributes }}>
      <a class="uk-accordion-title"><span class="uk-heading-bullet"></span> {{ row.title }}</a>
      <div class="uk-accordion-content">{{- row.content -}}</div>
    </li>
  {% endfor %}
</ul>
