{#
/**
 * @file
 * Theme override for a view template to display an transition of rows.
 *
 * Available variables:
 * - transition_attributes: HTML attributes for the container.
 * - rows: A list of rows for this transition.
 *   - thumbnail: Thumbnail preview in row.
 *   - thumbnail_second：The second picture of special effects may be empty.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - icon: To display an overlay icon.
 *
 * @see template_preprocess_uikit_view_transition()
 */
#}

{% if title %}
  <h3 class="uk-heading-bullet">{{ title }}</h3>
{% endif %}

<div{{ attributes }}>
  {% for row in rows %}
    <div{{ row.attributes }}>
      <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
        {{ row.thumbnail }}
        {% if row.thumbnail_second %}
          <img{{ row.transition_attributes }} src="{{ row.thumbnail_second }}" alt="">
          {% if icon %}
            <div class="uk-position-center uk-light">
              <span class="uk-transition-fade" uk-icon="icon: plus; ratio: 2"></span>
            </div>
          {% endif %}
        {% else %}
          <div{{ row.transition_attributes }}>
            {% if row.content %}
              <div class="uk-padding-small">{{- row.content -}}</div>
            {% endif %}
            {% if icon %}
              <div class="uk-position-center">
                <span class="uk-transition-fade" uk-icon="icon: plus; ratio: 2"></span>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
