{#
/**
 * @file
 * Theme override for views to display rows in a grid.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapping element.
 * - title: The title of this group of rows.
 * - rows: A list of grid items. Each item contains:
 *   - content: The columns's contents.
 *   - attributes：The row's HTML attributes.
 *
 * @see template_preprocess_uikit_view_grid()
 */
#}

{% if title %}
  <h3 class="uk-heading-bullet">{{ title }}</h3>
{% endif %}

<div{{ attributes }}>
  {% for row in rows %}
    <div{{ row.attributes }}>
      {{- row.content -}}
    </div>
  {% endfor %}
</div>
