{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list_attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_uikit_view_list()
 */
#}

<div{{ attributes }}>
  {% if title %}
    <h3 class="uk-heading-bullet">{{ title }}</h3>
  {% endif %}

  <ul{{ list_attributes }}>
    {% for row in rows %}
      {% if animation_row and animation_toggle %}
    <div class="uk-animation-toggle" tabindex="0">
      {% endif %}
      <li{{ row.attributes }}>
        {{- row.content -}}
      </li>
      {% if animation_row and animation_toggle %}
      </div>
        {% endif %}
    {% endfor %}
  </ul>
</div>
