{#
/**
 * @file
 * Theme override for a view template to display an slideshow of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this accordion.
 *   - attributes: The row's attributes.
 *   - title: The row's title.
 *   - thumbnav: The row's thumbnav.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - dotnav: Dotnav display mode
 *
 * @see template_preprocess_uikit_view_slideshow()
 */
#}

{% set slideshow = [
  'uk-position-relative',
] %}

{% set items_class = [
  'uk-visible-toggle',
  inverse ? inverse,
] %}

{% set thumbnav_class = [
  thumbnav_margin ? thumbnav_margin,
  thumbnav_position ? thumbnav_position,
] %}

{%
  set thumbnav_vertical = [
  'uk-thumbnav',
  thumbnav_vertical ? 'uk-thumbnav-vertical',
]
%}

{% set dotnav_class = [
  'uk-slideshow-nav',
  'uk-dotnav',
  dotnav == 'dotnav' ? 'uk-margin',
  dotnav == 'dotnav' ? 'uk-flex-center',
] %}

{% if title %}
  <h3 class="uk-heading-bullet">{{ title }}</h3>
{% endif %}

<div{{ attributes.addClass(slideshow) }}>

  <div class="{{ items_class|join(' ')|trim }}">
    <ul class="uk-slideshow-items">
      {% for row in rows %}
        <li{{ row.attributes }}>
          {{- row.content -}}
        </li>
      {% endfor %}
    </ul>
    <a class="uk-position-center-left uk-position-small {{ slidenav }}" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small {{ slidenav }}" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

  </div>

  {% if dotnav == 'overlay' %}
    <div class="uk-position-bottom-center uk-position-small {{ inverse }}">
      <ul class="{{ dotnav_class|join(' ')|trim }}"></ul>
    </div>
  {% elseif dotnav == 'thumbnav' %}
    <div class="{{ thumbnav_class|join(' ')|trim }}">
      <ul class="{{ thumbnav_vertical|join(' ')|trim }}">
        {% for row in rows %}
          <li uk-slideshow-item="{{ loop.index0 }}">
            <a href="#">{{ row.thumbnav }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

  {% elseif dotnav %}
    <ul class="{{ dotnav_class|join(' ')|trim }}"></ul>
  {% endif %}
</div>
