{#
/**
 * @file
 * Theme override for a view template to display an lightbox of rows.
 *
 * Available variables:
 * - accordion_attributes: HTML attributes for the container.
 * - rows: A list of rows for this accordion.
 *   - attributes: The row's attributes.
 *   - original_path: The row's original path.
 *   - thumbnail_path: The row's thumbnail path.
 *   - caption: The row's caption.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - type: The Lightbox uses the href attribute to figure out the type of the linked content.
 * - toggle: Toggle selector - opens the Lightbox Panel upon click.
 *
 * @see template_preprocess_uikit_view_lightbox()
 */
#}

{% if title %}
    <h3 class="uk-heading-bullet">{{ title }}</h3>
{% endif %}

<div{{ attributes }}>
  {% for row in rows %}
    <div{{ row.attributes }}>
      <{{ toggle }} class="uk-inline" href="{{ row.original_path }}" data-caption="{{ row.caption }}" data-type="{{ type }}">
        {% if row.thumbnail_path %}
            <img src="{{ row.thumbnail_path }}" alt="{{ row.caption }}">
        {% else %}
            {{- row.content -}}
        {% endif %}
     </{{ toggle }}>
   </div>
  {% endfor %}
</div>
