{#
/**
 * @file
 * Theme override for a view template to display a switcher of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's attributes.
 *   - content: The row's contents.
 *   - switcher_title: The row's switcher title.
 * - title: The title of this group of rows. May be empty.
 * - switcher_nav_attributes: HTML switcher nav attributes for the list element.
 * - switcher_content_attributes: HTML switcher nav attributes for the list element.
 * - position: Navigation display positioning can be selected
 *
 * @see template_preprocess_uikit_view_switcher()
 */
#}

{% if title %}
    <h3 class="uk-heading-bullet">{{ title }}</h3>
{% endif %}
<div{{ attributes }}>
    {% if position %}
      <div class="uk-width-auto@m {% if position == 'uk-tab-right' %}uk-flex-last@m{% endif %}">
    {% endif %}
        <ul{{ switcher_nav_attributes }}>
            {% for nav_row in rows %}
                <li>
                    <a href="#">{{ nav_row.switcher_title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% if position %}
      </div>
      <div class="uk-width-expand@m">
    {% endif %}

        <!-- This is the container of the content items -->
        <ul{{ switcher_content_attributes }}>
            {% for row in rows %}
                <li{{ row.attributes }}>
                    {{- row.content -}}
                </li>
            {% endfor %}
        </ul>

     {% if position %}
       </div>
     {% endif %}
</div>
